<div class="page-title">
    <h3>About the HCI Encyclopedia</h3>
</div>

<div>

    <mat-card>
        <mat-card-content>
            <table>
                <tr>
                    <td>
                        <div class="justify">
                            <p>The HCI Encyclopedia is meant to provide a single repository for information about Steel Drums.</p>

                            <p>The Steel Drum is a music instrument known throughout the Caribbean as well as other parts
                                of the world including Japan, Taiwan, and the United States of America.</p>

                            <p>This application further seeks to increase the awareness of the Steel Drum instrument in hopes
                                that it will encourage more people to learn to play the instrument.</p>

                        </div>
                    </td>
                    <td class="flex-display">
                        <div>
                            <mat-card>
                                <mat-card-content>
                                    <h3>FAQs</h3>
                                    <div class="faqs">

                                        <div>
                                            <form>
                                                <mat-form-field class="full-width">
                                                    <input type="search" matInput placeholder="Search...">
                                                    <mat-icon matSuffix>search</mat-icon>
                                                </mat-form-field>
                                            </form>
                                        </div>

                                        <mat-accordion>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        How to Navigate the App
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>

                                                <div>
                                                    <p>
                                                        You may browse to the different pages by selecting one of the menu options above.
                                                    </p>
                                                </div>
                                            </mat-expansion-panel>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        How to Return to Previous Page
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>

                                                <div>
                                                    <p>
                                                        Click the "Back" button to return to a previously visited page.
                                                    </p>
                                                </div>
                                            </mat-expansion-panel>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Now to Get More Help
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>

                                                <div>
                                                    <p>
                                                        Take a look at our Help page to discover more fun facts about our HCI Encyclopedia.
                                                    </p>
                                                </div>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </td>
                </tr>
            </table>

        </mat-card-content>
    </mat-card>

</div>