<div class="main-content">
    <div class="page-title">
        <h2>HCI Encyclopedia</h2>
    </div>
    <div class="nav-bar">
        <button mat-button (click)="callRoute('/home')">Home</button>
        <button mat-button (click)="callRoute('/about')">About</button>
        <button mat-button [matMenuTriggerFor]="menu" matTooltip="Click for more options">Steel Drums</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="callRoute('/types')">Types</button>
            <button mat-menu-item (click)="callRoute('/playing')">Playing Techniques</button>
            <button mat-menu-item (click)="callRoute('/cleaning')">Cleaning</button>
            <!-- <button mat-menu-item (click)="callRoute('/purchasing')">Purchasing</button> -->
        </mat-menu>
        <button mat-button (click)="callRoute('/contact')">Contact</button>
        <button mat-button (click)="callRoute('/help')">Help</button>
        <!-- <div class="search">
            <form>
                <mat-form-field>
                    <input type="search" matInput placeholder="Search...">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </form>
        </div> -->
    </div>
    <div class="inner-content">
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        <div class="footer-row">
            <!-- <div class="footer-item">
                <mat-card class="footer-card">
                    <mat-card-content>
                        <h3>Contact</h3>
                        <table>
                            <tr>
                                <td><strong>Email</strong></td>
                                <td>hciencyclopedia@gmail.com</td>
                            </tr>
                            <tr>
                                <td><strong>Phone</strong></td>
                                <td>+501-223-2233 / +501-223-2244</td>
                            </tr>
                            <tr>
                                <td><strong>Skype</strong></td>
                                <td>+501-610-2233 / +501-610-2244</td>
                            </tr>
                        </table>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="footer-item">
                <mat-card class="footer-card">
                    <mat-card-content>
                        <h3>Social Media</h3>
                        <table>
                            <tr>
                                <td><img class="social-icon" src="../assets/images/twitter-icon.png" /></td>
                                <td><img class="social-icon" src="../assets/images/instagram-icon.png" /></td>
                                <td><img class="social-icon" src="../assets/images/facebook-icon.png" /></td>
                                <td><img class="social-icon" src="../assets/images/pinterest-icon.png" /></td>
                            </tr>
                        </table>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="footer-item">
                <mat-card class="footer-card">
                    <mat-card-content>
                        <h3>Our Location</h3>
                        <img width="320px" src="../assets/images/location.png" />
                    </mat-card-content>
                </mat-card>
            </div> -->
            <p class="footer-copyright">HCI Encyclopedia | © Copyright {{copyrightYear}}</p>
            <div class="footer-social-icons">
                <a href="https://twitter.com/" target="_blank">
                    <img class="social-icon" src="../assets/images/twitter-icon.png" />
                </a>
                <a href="https://www.instagram.com/?hl=en" target="_blank">
                    <img class="social-icon" src="../assets/images/instagram-icon.png" />
                </a>
                <a href="https://www.facebook.com/" target="_blank">
                    <img class="social-icon" src="../assets/images/facebook-icon.png" />
                </a>
                <a href="https://www.pinterest.com/" target="_blank">
                    <img class="social-icon" src="../assets/images/pinterest-icon.png" />
                </a>
            </div>
        </div>
    </div>
</div>