<div class="page-title">
  <h3>Play the Steel Drums like a Pro!</h3>
</div>

<div>

  <mat-card>
    <mat-card-content>
      <table>
        <tr>
          <td>
            <div class="page-content">

              <img mat-card-image class="feature-img" src="../assets/images/steel-drum-played-by-professional.jpg" alt="Photo of a Steel Drum">

              <p>Perfecting the art of playing the Steel Drums requires hours of dedicated practing.</p>

              <p>Develop proper rolling skills by practing hand coordination.</p>

            </div>
          </td>
          <td class="flex-display">
            <div>
              <mat-card>
                <mat-card-content>
                  <h3>FAQs</h3>
                  <div class="faqs">

                    <div>
                      <form>
                        <mat-form-field class="full-width">
                          <input type="search" matInput placeholder="Search...">
                          <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                      </form>
                    </div>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            How to Navigate the App
                          </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div>
                          <p>
                            You may browse to the different pages by selecting one of the menu options above.
                          </p>
                        </div>
                      </mat-expansion-panel>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            How to Return to Previous Page
                          </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div>
                          <p>
                            Click the "Back" button to return to a previously visited page.
                          </p>
                        </div>
                      </mat-expansion-panel>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Now to Get More Help
                          </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div>
                          <p>
                            Take a look at our Help page to discover more fun facts about our HCI Encyclopedia.
                          </p>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </td>
        </tr>
      </table>

    </mat-card-content>
  </mat-card>

</div>