<div class="grid">
  <div class="grid-item">
    <mat-card class="feature-card">
      <mat-card-header>
        <mat-card-title>Types of Steel Drums</mat-card-title>
        <!-- <mat-card-subtitle>Learm about the types of Steel Drums</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image class="feature-img" src="../assets/images/steel-drum.jpg" alt="Photo of a Steel Drum">
        <p>
          Types of Steel Drums range from high-pitched to low-pitched, and from small to large.
        </p>
        <button class="float-right" mat-raised-button color="accent" (click)="callRoute('/types')">Learn More</button>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="grid-item">
    <mat-card class="feature-card">
      <mat-card-header>
        <mat-card-title>Play like a Pro!</mat-card-title>
        <!-- <mat-card-subtitle>Learn proper playing techniques</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image class="feature-img" src="../assets/images/steel-drum-played-by-professional.jpg" alt="Photo of Steel Drums being played">
        <p>
          Playing the Steel Drums professionally requires hard work and dedication to practicing.
        </p>
        <button class="float-right" mat-raised-button color="accent" (click)="callRoute('/playing')">Learn More</button>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="grid-item">
    <mat-card class="feature-card">
      <mat-card-header>
        <mat-card-title>Cleaning Your Instrument</mat-card-title>
        <!-- <mat-card-subtitle>Your Steel Drums will shine with these cleaning agents</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image class="feature-img" src="../assets/images/steel-drum-cleaning.jpg " alt="Photo of a Steel Drum being cleaned ">
        <p>
          Learn the right way to clean your Steel Drums with these tips and tricks.
        </p>
        <button class="float-right" mat-raised-button color="accent" (click)="callRoute('/cleaning')">Learn More</button>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="full-width">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Purchase Your Own Instrument</mat-card-title>
        <!-- <mat-card-subtitle>Your Steel Drums will shine with these cleaning agents</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <p class="para-padding">
          Here's where to purchase premium quality Steel Drums that are worth every penny spent!
          <button mat-raised-button color="accent">Purchase Now</button>
        </p>
      </mat-card-content>
    </mat-card>
  </div>

</div>